html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #dee4f7; */
  font-size: 15px;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

.container {
  padding: 50px 100px;
}

.container-title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form-container {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(216, 213, 213);
  box-shadow: 0 0 35px 0 rgb(216, 213, 213);
}

.form-container .title {
  padding: 20px 20px;
  border-bottom: solid 1px rgb(237, 233, 233);
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-container .title div {
  display: flex;
  align-items: center;
}

.form-container .content {
  padding: 20px 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.none-underline {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.group-select {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.group-select label {
  display: block;
  font-size: 16px;
  display: block;
  align-self: flex-start;
  font-size: 14px;
}

.group-select .select {
  padding: 8px 15px;
  border-radius: 3px;
  border: 1px solid rgb(163, 159, 159);
  width: 300px;
  display: flex;
  outline: none;
  font-size: 14px;
  align-self: flex-start;
}

.group-select .select:focus {
  border: 1px solid rgb(86, 158, 234);
  outline: none;
  box-shadow: 0 0 10px 0 rgb(86, 158, 234);
}

.save {
  padding: 10px 15px;
  border-radius: 10px;
  width: 150px;
  border: 1px solid rgb(151, 138, 138);
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
}

.error-page {
  min-height: 300px;
  padding-top: 200px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-left: 225px;
}
.pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: var(--bs-link-color);
  --bs-pagination-bg: #fff;
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: #dee2e6;
  --bs-pagination-border-radius: 0.375rem;
  --bs-pagination-hover-color: var(--bs-link-hover-color);
  --bs-pagination-hover-bg: #e9ecef;
  --bs-pagination-hover-border-color: #dee2e6;
  --bs-pagination-focus-color: var(--bs-link-hover-color);
  --bs-pagination-focus-bg: #e9ecef;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem #d1d1ba !important;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #909b6b !important;
  --bs-pagination-active-border-color: #909b6b !important;
  --bs-pagination-disabled-color: #6c757d;
  --bs-pagination-disabled-bg: #fff;
  --bs-pagination-disabled-border-color: #dee2e6;
  display: flex;
  padding-left: 0;
  list-style: none;
  cursor: pointer !important;
}


.page-link {
  position: relative;
  display: block;
  padding: 0.5rem .75rem;
  margin-left: -1px;
  font-size: 0.875rem;
  color: var(--bs-pagination-color);
  text-decoration: none;
  background-color:#fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.page-link:hover {
  z-index: 2;
  color: var(--bs-pagination-hover-color);
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.page-link:focus {
  z-index: 3;
  color: var(--bs-pagination-focus-color);
  background-color: var(--bs-pagination-focus-bg);
  outline: 0;
  box-shadow: var(--bs-pagination-focus-box-shadow);
}
.page-link.active, .active > .page-link {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: var(--bs-pagination-active-bg);
  border-color: var(--bs-pagination-active-border-color);
}
.page-link.disabled, .disabled > .page-link {
  color: var(--bs-pagination-disabled-color);
  pointer-events: none;
  background-color: var(--bs-pagination-disabled-bg);
  border-color: var(--bs-pagination-disabled-border-color);
}

.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}
.page-item:first-child .page-link {
  border-top-left-radius: var(--bs-pagination-border-radius);
  border-bottom-left-radius: var(--bs-pagination-border-radius);
}
.page-item:last-child .page-link {
  border-top-right-radius: var(--bs-pagination-border-radius);
  border-bottom-right-radius: var(--bs-pagination-border-radius);
}
/* .active>.page-link, .page-link.active {
  color: white!important;

}  */
